<div class="row">
  <div class="columns twelve">
    <div class="offset-by-three five columns" id="promo-welcoming">
      <%= image_tag("logo.svg") %>
      <h4 style="font-size: 40px;">wolfdog.gr</h4>
      <p>
        <strong>Εκτροφή Τσεχοσλοβάκικου Λυκόσκυλου</strong>
        <br/>
        Σύντομα κοντά σας
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns twelve">
    <div class="offset-by-three five columns", id="form">
      <%= render partial: 'subscribers/form' %>
    </div>
  </div>
</div>