<div class="row">
  <div class="columns twelve">
    <div class="offset-by-three five columns" id="promo-welcoming">
      <h4>wolfdog.gr</h4>
      <p>
        Eλληνική κοινότητα για <strong>Τσεχοσλοβάκικα Λυκόσκυλα</strong>.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns twelve">
    <div class="offset-by-three five columns", id="form">
      <%= render partial: 'subscribers/form' %>
    </div>
  </div>
</div>