<div class="row">
  <div class="columns twelve">
    <div class="offset-by-three five columns" id="promo-welcoming">
      <%= image_tag("logo.svg") %>
      <h1>wolfdog.gr</h1>
      <h2 style="font-size: 20px;">Εκτροφή Τσεχοσλοβάκικου Λυκόσκυλου</h2>
      <span style="font-size: 15px;">Σύντομα κοντά σας</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns twelve">
    <div class="offset-by-three five columns", id="form">
      <%= render partial: 'subscribers/form' %>
    </div>
  </div>
</div>